.active{
 background: #B027F5;
 color: black;

   
}
.active::before{
  content: '';
  width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: skew(10%);
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(#1f242d 70%,transparent);
    position: sticky;
    top: 0;
    padding: 0px 3%;
   animation: navAni 1s linear forwards;
   animation-delay: 0.3s;
   
}

@keyframes navAni{
  100%{
    transform: skew(0%);
    opacity: 1;
    visibility: visible;
    
  }
}

nav .logo{
    font-size: 35px;
    font-weight: bolder;
    text-decoration: none;
    color: #B027F5;
    margin: 1rem;
}

nav ul{
    position: relative;
    display:flex;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
    position: relative;
}

.icons{
    display: none;
}


nav ul li a:hover{
  color: #4d27f5;

}

.MenuBtn{
    border: none;
    font-size: 20px;
    background: none;
    padding: 0 10px;
}



   

@media (max-width:639px) {
    
    nav .logo{
        font-size: 30px;
    }
  .icons{
    display: block;
  }
  nav ul{
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: #2c2c2c;
    
    
    
   
  }
  
  
  nav ul li a{
    padding: 10px 0;
    text-align: center;
    
  }
  nav ul li a:hover{
    color:#B027F5;
  }
 
  .block{
    display: block;
  }
  .hidden{
    display: none;
  }
 
}
