.active{
    background-color: rgb(43, 153, 226);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 32, 218);
    position: sticky;
    top: 0;
    padding: 0px 3%;
   
}

nav .logo{
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav ul{
    position: relative;
    display:flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
}

.icons{
    display: none;
}

nav ul li a:not(.active):hover{
    background-color: brown;
}

.MenuBtn{
    border: none;
    font-size: 20px;
    background: none;
    padding: 0 10px;
}



    

@media (max-width:639px) {
    
    nav .logo{
        font-size: 30px;
    }
  .icons{
    display: block;
  }
  nav ul{
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 65px;
    width: 100%;
    background-color: blueviolet;
    
   
  }
  nav ul li{
    padding: 10px;
  }
  nav ul li a{
    text-align: center;
  }
  .block{
    display: block;
  }
  .hidden{
    display: none;
  }

}