.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 30px 4% 0;
    
}

.homeInfo h2{
   font-size: 50px;
}

.homeInfo h3{
    font-size: 34px;
}

.homeInfo p{
    font-size: 16px;
}

.homeInfo .btnBox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.homeInfo .btnBox .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #27D3F5;
    box-shadow: 0 0 10px #27D3F5;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #27D3F5;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;

}
.btnBox .btn:hover{
    background-color: transparent;
    box-shadow: none;
    color: white;

}
.homeInfo .btnBox .social-icons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 20px;
    
}

.homeInfo .btnBox .social-icons .in{
    width: 40px;
    height: 40px;
    color: #27D3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #27D3F5;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
   
   
}
.btnBox .social-icons .in:hover{
    background: #27D3F5;
    border: none;
    box-shadow: 0 0 10px #27D3F5;
}

.homeInfo .btnBox .social-icons .social-icon{
    text-align: center;
    font-size: 20px;
}
.homeImg {
    margin-left: 20px;
}
.homeImg .imgbox{
    position: relative;
    height: 32vw;
    width: 32vw;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

.homeImg .imgbox::before,
.homeImg .btnBox::after{
    content: '';
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#27D3F5);
    position: absolute;
    
    transform: rotate(0deg);
    animation: 10s spin linear infinite;
}
.homeImg .btnBox::after{
    animation-delay: -5s;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}


.homeImg .imgbox .imgItems{
   position: relative; 
   width: 100%;
   height: 100%;
   background: #1f242d;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   
}

.homeImg .imgbox .imgItems img{
    position: absolute;
    width: 95%;
    display: block;
    top: 25px;
}

