.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 30px 4% 0;
    
}

.homeInfo h2{
   font-size: 50px;
}

.homeInfo h3{
    font-size: 34px;
}

.homeInfo p{
    font-size: 16px;
}

.homeInfo .btnBox{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.homeInfo .btnBox .btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #27D3F5;
    box-shadow: 0 0 10px #27D3F5;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #27D3F5;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;

}
.btnBox .btn:hover{
    background-color: transparent;
    box-shadow: none;
    color: white;

}
.homeInfo .btnBox .social-icons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 25px;
    
}

.homeInfo .btnBox .social-icons .in{
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #27D3F5;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
   
   
}
.btnBox .social-icons .in:hover{
    background: #27D3F5;
    
    box-shadow: 0 0 10px #27D3F5;
    color: #1f242d;
}

.homeInfo .btnBox .social-icons .social-icon{
    text-align: center;
    font-size: 20px;
}

.homeImg .imgbox{
    position: relative;
    width: 32vw;
    height: 32vw ;
    background:transparent;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.homeImg .imgbox::before,
.homeImg .imgbox::after{
    content: '';
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#27D3F5);
    position: absolute;
    transform: rotate(0deg);
    animation: spain 10s linear infinite;
}
.homeImg .imgbox::after{
    animation-delay: -5s;
}
@keyframes spain{
    100%{
        transform: rotate(360deg);
    }
}
.homeImg .imgbox .imgItems{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border: .5px solid #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.homeImg .imgbox .imgItems img{
    position: absolute;
    top: 35px;
    display: block;
    width: 99%;
    object-fit: cover;
    mix-blend-mode: lighten;
    
}

@media (max-width: 640px)
{
    .home{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column-reverse;
    }
    .homeInfo h2{
        font-size: 40px;
        margin-top: 40px;

    }
    .homeInfo h3{
        font-size: 30px;
    }
    .homeImg .imgbox{
        width: 300px;
        height: 300px;
        z-index: -1;
    }

}

 
